 EJEMPLO - Copiar y renombrar a .env según el entorno
DEBUG=True
SECRET_KEY=clave-secreta-aqui-cambiar-en-cada-entorno
ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_ENV=development
DB_NAME=db.sqlite3
HOSPITAL_NAME=Hospital Melchor Romero

# Configuración de Email (Solo producción)
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=tu-email@gmail.com
# EMAIL_HOST_PASSWORD=tu-password-app