{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Gestión de Bienes Patrimoniales{% endblock %}</title>

    <!-- Fuentes locales -->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <!-- FontAwesome local -->
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.min.css' %}">

    <!-- Bootstrap local -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">

    <!-- CSS global -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock %}

    <main class="main-content">
        {% include 'includes/messages.html' %}
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock %}

    <!-- Bootstrap local -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- JS global -->
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>

